/* style guide */
:root{
    --zwart: #171616;
    --Lichtblauw: #01B0F1;
    --donkerblauw: #0070C1;
    --rood: #FF0000;
    --grijs: #6c757d;
    --wit: #ffffff;

    --nav: 18px;
    --brood: 16px;
    --kop: 20px;
    --titel: 24px;
}

*{
    margin: 0;
    padding: 0;
}

.navtekst{
    font-size: var(--nav)!important;
    color: var(--grijs)!important;
    font-weight: normal;
}

.broodtekst{
    font-size: var(--brood)!important;
    color: var(--zwart)!important;
    font-weight: normal;
}

.kop{
    font-size: var(--kop);
    color: var(--zwart);
    font-weight: bold;
}

.titel{
    font-size: var(--titel);
    color: var(--zwart);
    font-weight: bold;
}

.row-space{
    margin: 100px 0px;
}

.rond{
    border-radius: 50px!important;
}

.sectie-space{
    margin: 150px 0px;
}

.zero-padding{
    padding: 0px!important;
}

.link-hover:hover {
    color: var(--rood)!important;
}

.rechts-uitlijnen{
    float: right;
}

.wit{
    color: white;
    font-size: var(--kop)!important;
}

/* navigatie */
    .nav-space{
        margin: 0px 10px;
    }
/* einde navigatie */


/* home pagina */

    /* banner sectie  */
    .banner{
        position: relative;
        padding: 0px!important;
        margin-bottom: 150px;
        border-radius: 0%!important;
        border-style: hidden!important;
    }

    .banner-foto{
        width: 100vw;
    }

    .overlay-text{
        position: absolute;
        margin-top: 15%;
        margin-left: 10%;
    }

    .zoekbalk{
        padding: 0px 10px!important;
        width: 50vw!important;
        height: 40px!important;        
    }    
    /* einde banner sectie  */
    
    /* recent-toegevoegd */
    /* einde recent-toegevoegd */

    /* cards */
    .card-space{
        margin-bottom: 20px;
    }
    /* einde cards */

/* einde home pagina */

/* inlog pagina */
    .inlog-sectie{
        margin-top: 30%;
    }

    .inlog-img{
        height: 100vh;
        width: 100%;
        object-fit: contain;
    }

    .inlog-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin-bottom: 100px;
    }

    .inlog-input{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .inlog-form{
        width: 30%!important;
        border-radius: 30px!important;
    }
    .inlog-opties{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        font-size: 8pt;
    }

/* einde inlog pagina */

/* registratie */
    .registratie-sectie{
        margin-top: 20%;
    }
    
    .account-button{
        width: 200px;
    }
/* einde registratie */

/* over pagina */
    .overlay-img{
        width: 100%;
    }
/* einde over pagina */


/* profiel pagina stage plek */


/* einde profiel pagina stage plek */

/* contact pagina */
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    padding: 20px 0 30px 0;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #106eea;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #3b8af2;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  