/* style guide */
:root{
    --zwart: #171616;
    --Lichtblauw: #01B0F1;
    --donkerblauw: #0070C1;
    --rood: #FF0000;
    --grijs: #6c757d;
    --wit: #ffffff;

    --nav: 18px;
    --brood: 16px;
    --kop: 20px;
    --titel: 24px;
}

*{
    margin: 0;
    padding: 0;
}

.nav-tekst{
    font-size: var(--nav)!important;
    color: var(--grijs)!important;
}

.brood-tekst{
    font-size: var(--brood)!important;
    color: var(--zwart)!important;
}

.kop{
    font-size: var(--kop);
    color: var(--zwart);
}

.titel{
    font-size: var(--titel);
    color: var(--zwart);
}

.rond{
    border-radius: 50px!important;
}

.sectie-space{
    margin: 150px 0px;
}

.zero-padding{
    padding: 0px!important;
}

.link-hover:hover {
    color: var(--rood)!important;
}

.rechts-uitlijnen{
    float: right;
}

.wit{
    color: white;
    font-size: var(--kop)!important;
}

/* navigatie */
    .nav-space{
        margin: 0px 10px;
    }
/* einde navigatie */


/* home pagina */

    /* banner sectie  */
    .banner{
        position: relative;
        padding: 0px!important;
        margin-bottom: 150px;
        border-radius: 0%!important;
        border-style: hidden!important;
    }

    .banner-foto{
        width: 100vw;
    }

    .overlay-text{
        position: absolute;
        margin-top: 15%;
        margin-left: 10%;
    }

    .zoekbalk{
        padding: 0px 10px!important;
        width: 50vw!important;
        height: 40px!important;        
    }    
    /* einde banner sectie  */
    
    /* recent-toegevoegd */
    /* einde recent-toegevoegd */

    /* cards */
    .card-space{
        margin-bottom: 20px;
    }
    /* einde cards */

/* einde home pagina */

/* inlog pagina */
    .inlog-sectie{
        margin-top: 30%;
    }

    .inlog-img{
        height: 100vh;
        width: 100%;
        object-fit: contain;
    }

    .inlog-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin-bottom: 100px;
    }

    .inlog-input{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .inlog-form{
        width: 30%!important;
        border-radius: 30px!important;
    }
    .inlog-opties{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        font-size: 8pt;
    }

/* einde inlog pagina */

/* registratie */
    .registratie-sectie{
        margin-top: 20%;
    }
    
    .account-button{
        width: 200px;
    }
/* einde registratie */

/* over pagina */
    .row-space{
        margin: 100px 0px;
    }

    .overlay-img{
        width: 100%;
    }
/* einde over pagina */